<!-- templates/manage_subjects.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Chapters - Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <h1 class="text-center">Manage Chapters</h1>
        <a href="{{ url_for('add_chapter') }}" class="btn btn-primary mb-4">Add New Chapter</a>
        <a  href="{{url_for('admin_dashboard',username='rishav')}}" class="btn btn-info mb-4">admin_dashboard</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Chapter name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for chapter in chapters %}
                <tr>
                    <td>{{ chapter.name }}</td>
                    <td>{{ chapter.description }}</td>
                    
                    <td>
                        <a href="/edit_chapter/{{chapter.id}}" class="btn btn-warning ">edit</a>
                        <a href="/delete_chapter/{{chapter.id}}" class="btn btn-danger">Delete</a>

                        
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
