<!-- templates/view_quizzes.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizzes </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        
        <ul class="list-group">
            
            
            {% for quiz in quizzes %}
           
                {{quiz.id}}
                <li class="list-group-item">
                    <a href="{{ url_for('take_quiz', quiz_id=quiz.id) }}">Take Quiz</a>
                </li>
                
            {% endfor %}
        </ul>
    </div>
</body>
</html>
